@font-face {
  font-family: 'Poppins-300';
  src: url('../assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins-400';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-500';
  src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-600';
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins-700';
  src: url('../assets/fonts/Poppins-Bold.ttf');
}
