@import './colors';
@import './mixins';
@import './clamp.scss';

// Font size
$font-size-default: 16px;

// Font family
$font-poppins-300: 'Poppins-300';
$font-poppins-400: 'Poppins-400';
$font-poppins-500: 'Poppins-500';
$font-poppins-600: 'Poppins-600';
$font-poppins-700: 'Poppins-700';
